@use 'variables' as var;

* {
  box-sizing: border-box;
  padding: 0; margin: 0; border: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

:focus {
  outline: none;
  box-Shadow: 0 0 0 2px var.$secondary
}

body {
  font-family:  'Poppins', sans-serif;
  background-color: var.$background;
  color: var.$gray-200;
  font-size: 1rem;
  overflow: hidden;
}

html {
  &::-webkit-scrollbar {
    width: 0.65rem;
  }

  &::-webkit-scrollbar-track {
    background-color: var.$gray-700;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: var.$gray-600;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 2px var.$gray-800;
  }
}

html, body, input, textarea, button {
  font-family:  'Poppins', sans-serif;
  font-weight: 400;
}

