$background: #0c090f;

$white: #fff;
$black: #000;

$gray-100: #f8f9fa;
$gray-200: #e1e1e6;
$gray-300: #c0c0c0;
$gray-400: #6c757d;
$gray-500: #505059;
$gray-600: #323238;
$gray-700: #212121;
$gray-800: #1a1c21;
$gray-900: #121214;

$primary: #b6af9fff;
$secondary: #e5d5a7;

$red: #9d0208;
$blue: #3294f8;
$green: #00ff7a;
$yellow: #ffd60a;
