$background: #0c090f;

$white: #FFF;
$black: #000;

$gray-100: #F8F9FA;
$gray-200: #E1E1E6;
$gray-300: #7C7C8A;
$gray-400: #6c757d;
$gray-500: #505059;
$gray-600: #323238;
$gray-700: #29292E;
$gray-800: #202024;
$gray-900: #121214;

$primary: #B6Af9FFF;
$secondary: #E5d5A7;

$red: #9d0208;
$blue: #3294F8;
$green: #00B37E;
$yellow: #ffd60a;