@use "../globals/variables" as vars;

.latest {
  padding-right: 1rem;

  &__grid {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 1rem;
  }

  a {
    box-shadow: none;

    img {
      border-radius: 4px;
      border: 1px solid transparent;
      outline: 1px solid vars.$secondary;
    }
  }

  &__chapter {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem;
    background: vars.$gray-800;
    text-decoration: none;
    color: vars.$gray-100;

    &__info {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    strong {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 1.2rem;

      &:hover {
        text-decoration: underline;
      }
    }

    &__title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;

      span {
        line-height: 1.4;
      }
    }

    &__scanAndDate {
      display: flex;
      justify-content: space-between;
      color: vars.$gray-200;
    }

    &__scan {
      display: flex;
      gap: 0.25rem;
      align-items: center;
      background: transparent;
      color: vars.$gray-200;
      font-size: 1rem;
      font-weight: bold;

      span {
        padding: 0.15rem 0.25rem;
        border-radius: 4px;

        &:hover {
          background: vars.$gray-900;
          cursor: pointer;
        }
      }
    }
  }
}
