@use "../globals/variables" as vars;

@keyframes slidein {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

.art {
  position: relative;

  ul {
    position: absolute;
    top: 0;
    max-width: 256px;
    max-height: 512px;
    overflow: hidden;
    animation-name: slidein;
    animation-duration: 3s;
    animation-delay: 3s;
  }
}
