@use "../globals/variables" as vars;

.rate {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    height: 100%;
    max-width: 52px;
    display: block;
    padding: 0.5rem 0.75rem;
    color: vars.$gray-300;
    background: vars.$gray-600;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
      color: vars.$gray-100;
      opacity: 0.7;
    }
  }

  &__options {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 100%;
    background: vars.$gray-800;
    padding: 0.25rem 0;
    display: none;
    transform: scaleY(0);

    span {
      display: block;
      white-space: nowrap;
      padding: 0.25rem 0.5rem;
      width: 100%;
      text-align: center;

      &:hover {
        cursor: pointer;
        background: vars.$gray-600;
      }
    }

    &[data-rate-options="show"] {
      transform: scaleY(1);
      display: block;
    }
  }
}
