@use "../globals/variables" as vars;
@use "../mixins" as mix;

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 2;
}

.report {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  margin: 2rem;
  padding-bottom: 3rem;

  &__content {
    background: vars.$background;
    box-shadow: none;
    width: 50vw;
    border-radius: 4px;
    padding: 1.5rem;
    height: 100vh;
    overflow-y: auto;

    @include mix.webkit-scrollbar(0.75rem);
  }

  &__close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: transparent;
    color: vars.$gray-100;
    border-radius: 50%;
    line-height: 0;
    padding: 0.25rem;

    &:hover {
      cursor: pointer;
      background-color: vars.$gray-900;
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  &__description {
    span {
      font-weight: bold;
    }
  }

  &__manga {
    margin: 1rem 0;
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    background: vars.$gray-800;

    img {
      border-radius: 4px;
    }

    div {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
    }
  }

  &__divider {
    display: block;
    height: 1px;
    width: 100%;
    background: vars.$gray-600;
  }

  &__reason {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    textarea {
      padding: 1rem;
      background: vars.$gray-800;
      color: vars.$gray-200;
      font-size: 1.1rem;

      &::placeholder {
        color: vars.$gray-300;
      }
    }
  }

  &__select {
    position: relative;
    background: vars.$gray-800;
    width: 16rem;
    border-radius: 4px 4px 0 0;

    &__reason {
      position: absolute;
      top: 0;
      left: 1rem;
      opacity: 0;

      &[data-report-reason="show"] {
        font-weight: 500;
        opacity: 1;
      }
    }

    &__button {
      width: 100%;
      padding: 1rem 0.5rem 0.5rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid transparent;
      background-color: transparent;
      box-shadow: none;
      color: vars.$gray-200;

      &:focus {
        border: 1px solid vars.$primary;
      }

      &__valueSelected {
        font-weight: 500;
      }

      &:has(.valueSelected[data-select="open"]) {
        transition: all 0.2s;
        align-items: baseline;
        opacity: 0.6;
      }

      span {
        svg {
          &[data-icon="hidden"] {
            opacity: 0;
            width: 0;
            transform: scaleY(0);
          }
        }
      }

      &:hover {
        cursor: pointer;
      }
    }

    &__options {
      position: absolute;
      background: vars.$gray-800;
      width: inherit;
      border-radius: 0 0 4px 4px;
      padding-bottom: 0.5rem;

      span {
        transition: all 0.2s;
        font-weight: 500;
        display: block;
        padding: 0.5rem 1rem;

        &:hover {
          cursor: pointer;
          background: vars.$gray-600;
        }

        &[data-option="active"] {
          background: vars.$gray-800;
        }
      }

      &[data-select="close"] {
        transform: scaleY(0);
        display: none;
      }
    }
  }

  &__cancelAndSend {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;

    button {
      border-radius: 4px;
      padding: 0.5rem 1rem;
      font-size: 1.2rem;
      font-weight: bold;
      color: vars.$gray-100;

      &:hover {
        transition: background-color 0.1s;
        cursor: pointer;
        background: vars.$gray-900;
      }
    }
  }

  &__send {
    background: vars.$gray-700;
  }

  &__cancel {
    background: vars.$gray-900;
  }
}
