@use '../globals/variables' as vars;
@forward 'header';
@forward 'aside';
@forward 'search';

.grid {
  display: grid;
  grid-template-columns: 15rem 1fr;
  
  &__content {
    color: vars.$red;
    height: 100vh;
  }
}